body{
    background-color: rgb(145, 58, 58);

    header{
        display: flex;
        justify-content: center;

        h1{
            font-size: 60px;
            text-align: center;
        }
    }

    .container{
        img{
            display: block;
            width: 100%;
        }
    }
}